<mat-card class="movie-card" (click)="details()">
    <mat-card-header>
        <mat-card-title class="movie-card-header">{{ movie.name }}</mat-card-title>
        <mat-card-subtitle>{{ movie.genre }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ movie.poster_image }}" alt="Poster Image">
    <mat-card-content>
        <p class="movie-card-overview">
            {{ movie.overview }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="details()">Details</button>
    </mat-card-actions>
</mat-card>